/*------------- Général -----------------------------------------------------------*/
body {

    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
}

#container {
    width: 100%;
    max-width: 1200px;
}

/*------------- Header ------------------------------------------------------------*/
header {
    display: flex;
    /*border: 3px solid black;*/
    justify-content: space-between;
}

.logo {
/*border: 3px solid red;*/
}

nav {
display: flex;
align-items: center;
}

nav ul {
display:flex
}

nav li{
    /*border: 3px solid blue;*/
   list-style: none;
   padding-left: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
}
/*--------------------Section-------------------------------------------------------*/
section {
    margin-top: 0;
}

.banniere {

    height: 450px;
    position: relative;
}

.banniere_image {
    position: absolute;
    height: 100%;
    width: 100%;
}

.banniere_image img {

    object-fit: cover;
}

.banniere_logo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banniere_logo2 {
    width: 200px;
}

.banniere_logo h1 {
    color: white;
    font-weight: 400;

}

/*---------------------------------------------------------------------------------------*/
.présentation {
    display: flex;
	flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    
}

.présentation h1 {

    font-weight: normal;
    font-size: 22.5px;
    color: gray;
}

.présentation p {
    
    
}

.rubrique {

    display: flex;
	justify-content: space-around;

}

.rubrique h2 {

    font-weight: normal;
    font-size: 22.5px;
    


}

.rubrique p {
    font-size: 13px;
    text-align: center;
    width: 280px;
    
}

.div1 {

/*border: 3px solid green;*/
    margin-top: 50px;
	max-width: 800px;
}

.témoin {

margin-top: 50px;
font-size: 20px;
color:gray;
}

.auteur {

font-size: 17.5px ;
font-weight: 300px;
}
/*-------------------------------Footer------------------------------------------*/
footer {
    background-color: #5b359d;
    padding-top: 18px;
}

.rsociaux svg{

    height: 30px;
}
